{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
  <main>
    <header>
      <h1>Todos</h1>
    </header>

    <form action="" method="post">
      {% csrf_token %}
      <input type="text" name="title" placeholder="Type new todo">
    </form>

    <ul>

      <li>
          <input type="checkbox">
        <span class="">
          title
        </span>

        <form action="" method="post" class="deleteform">
          {% csrf_token %}
          <span class="delete">x</span>
          <input type="hidden" name="id" value="<id>">
        </form>

      </li>
    </ul>
  </main>
{% endblock main %}
