{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
  {% if user.is_authenticated %}
    <main>
      <header>
        <h1>Todos</h1>
      </header>

      <form action="{% url 'todo:new' %}" method="post" class="text-form">
        {% csrf_token %}
        {% bootstrap_form form %}
      </form>

      <ul>
        {% for todo in todos %}
          {% if todo.created_by_id == user.id %}
            <li>
              <input type="checkbox">
              <span>
                {{ todo.name }}
              </span>

              <form action="{% url 'todo:detail' todo.id %}" method="post" class="detailform">
                {% csrf_token %}
                <button class="edit">Edit</button>
              </form>
              |
              <form action="{% url 'todo:delete' todo.id %}" method="post" class="deleteform">
                {% csrf_token %}
                <button class="delete">Delete</button>
              </form>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

    </main>
  {% endif %}
{% endblock main %}
