body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 241, 237);
  text-align: center;
}

header {
  margin: 24px;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 0 0 16px 0;
}

main {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

li {
  font-size: large;
  display: flex;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 100%;
  padding: auto;
  margin-bottom: 16px;
}


.deleteform {
  margin-right: 36px;
}

.detailform {
  margin-left: auto;
  padding-left: 8px;
}

.delete, .edit {
  border: none;
  color: rgb(170, 175, 180);
}


.delete:hover, .edit:hover {
  color: #484e60;
}

