{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>Todo-List</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'wakes/css/style.css' %}">
    {% block exheader %}{% endblock exheader%}
  </head>

  <body>
    <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
      <div class="container justify-content-between">
        <a class="navbar-brand" href="/">Todo-List</a>
      </div>
    </nav>
    <main>
      <div class="container">
        {% block main %}{% endblock main %}
      </div>
    </main>
    
  </body>

</html>
